@media screen and (max-width: 960px) {
    #sidebar {
        width: 100%;
        z-index: 3;
        background: black url("/public/img/profile-drawing.png") no-repeat fixed center;

        .sidebar-top {
            height: 30%;

            h1 {
                float: right;
                margin-right: 2%;
                color: black;
                font-family: snell, Roundhand, cursive;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
            }
        }

        .sidebar-footer {
            display: block;
        }
    }
}
@media screen and (min-width: 960px) {
    #sidebar {
        width: 20%;
        z-index: 5;

        .sidebar-top {
            height: 15%;

            h1 {
                display: none;
            }
        }

        .sidebar-footer {
            display: none;
        }
    }
}

#sidebar {
    position: absolute;
    height: 99.9vh;
    background-color: white; //TODO change when final colors decided
    border: 1px solid black; //TODO remove this border

    .sidebar-top {
        position: relative;
        border: 1px solid purple; //TODO remove this border
        width: 100%;
    }

    .nav-item-div {
        uib-accordion {
            .dropdown-item {
                margin-top: 0px;

                :hover {
                  color: gray;
                  text-decoration: none;
                }

                :focus {
                  outline: none;
                  text-decoration: none;
                }
                    div.panel-heading {
                        background-color: black;
                        border-color: #ddd;
                        height: 10vh;
                        margin-top: 0;
                        text-align: center;

                        h4.panel-title {
                          color: white !important;
                          line-height: 6vh;
                        }

                        i {
                          line-height: 6vh;
                        }
                    }
                }
            }
    }
}
