<div id="sidebar" ng-controller="SidebarController as ctrl" ng-hide="!ctrl.showSidebar">
      <div class="sidebar-top">
      <h1>SMJ</h1>
    </div>
    <div class="nav-item-div">
        <!--testing this-->
        <uib-accordion ng-if="ctrl.showSidebar">
        <div uib-accordion-group ng-repeat="navItem in ctrl.dropdownList track by $index" id="{{navItem}}" ng-click="ctrl.setDropdownList(navItem)" class="panel-default dropdown-item" is-open="status.isCustomHeaderOpen">
      <uib-accordion-heading>
      {{navItem}} <i class="pull-right glyphicon" ng-if="ctrl.setDropdownList(navItem).length != 0" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
      </uib-accordion-heading>
      <ul>
          <li ng-hide="ctrl.setDropdownList(navItem).length == 0" ng-repeat="linkItem in ctrl.showThisList">{{linkItem}}
          </li>
      </ul>
    </div>
  </uib-accordion>
        <!--end here-->
    </div>
    <!--only for web version-->
    <div class="quote-div">
    </div>
    <!--only for mobile version-->
    <div class="sidebar-footer">
        <footer></footer>
    </div>
</div>
