@media screen and (max-width: 960px) {
    #sidebar {
        height: 99.9vh;
        width: 100%;
        z-index: 3;
        background: black url("/public/img/profile-drawing.png") no-repeat fixed center;
        background-color: white;

        .dropdown-item {
            ul {
                li {
                    width: 100%;
                    margin-left: -20px;
                    text-align: center;
                }
            }
        }

        .sidebar-top {
            height: 30%;

            h1 {
                float: right;
                margin-right: 2%;
                color: black;
                font-family: fantasy;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
            }
        }

        .sidebar-footer {
            display: block;
        }

        .quote-div {
            display: none;
        }
    }
}
@media screen and (min-width: 960px) {
    #sidebar {
        width: 20%;
        z-index: 5;
        height: 93vh;

        .sidebar-top {
            height: 15%;

            h1 {
                display: none;
            }
        }

        .dropdown-item {
            ul {
              text-align: center;
              padding-left: 0px;
            }
        }

        .sidebar-footer {
            display: none;
        }

        .quote-div {
            width: 100%;
            border: 1px solid white;
            height: 15%;
            position: relative;
            margin-left: 0;
            margin-top: 50px;
        }
    }
}

#sidebar {
    position: absolute;

    .sidebar-top {
        position: relative;
        width: 100%;
    }

    .nav-item-div {
        uib-accordion {
            #About,
            #Portfolio,
            #Resume {
                h4 {
                    padding-left: 15px;
                }
            }

            #Contact, #Home {
                div.panel-body {
                  display: none;
                }
            }

            .dropdown-item {
                margin-top: 0;

                :hover {
                    color: gray;
                    text-decoration: none;
                }

                :focus {
                    outline: none;
                    text-decoration: none;
                }

                ul {
                    list-style-type: none;

                    li {
                        margin-top: 5px;

                        a {
                          color: black;
                        }
                    }
                }

                div.panel-heading {
                    background-color: black;
                    border-color: #ddd;
                    height: 10vh;
                    margin-top: 0;
                    text-align: center;

                    h4.panel-title {
                        color: cyan !important;
                        line-height: 6vh;
                    }

                    i {
                        line-height: 6vh;
                    }
                }
            }
        }
    }
}
