@media screen and (max-width: 960px) {
  #footer-div {
    height: 10%;

    p {
      left: 15%;
      width: 70%;
      text-align: center;
    }
  }
}

@media screen and (min-width: 960px) {
  #footer-div {
    height: 7%;

    p {
      right: 5%;
    }
  }
}

#footer-div {
  width: 100%;
  z-index: 1;
  left: 0;
  position: fixed;
  bottom: 0;
  background-color: black;

  p {
    font-size: 11px;
    padding-top: 5px;
    color: white;
    position: absolute;
  }
}
