@media screen and (max-width: 960px) {
  #footer-div {
    height: 10%;
    width: 100%;
    background-color: rgba(255,255,255,0.87);

    p {
      display: none;
    }

    #social-media-div {
      width: 100%;
      text-align: center;
      padding-top: 10px;
    }
  }
}

@media screen and (min-width: 960px) {
  #footer-div {
    background-color: gray;
    height: 7%;
    width: 99.9%;

    p {
      float: right;
      right: 5%;
      line-height: 6vh;
    }

    #social-media-div, p {
      display: inline-block;
      padding-top: 5px;
    }

    #social-media-div {
      float: left;
      margin-left: 21%;
    }
  }
}

#footer-div {
  z-index: 4;
  left: 0;
  position: fixed;
  bottom: 0;

  p {
    font-size: 11px;
    position: absolute;
  }
  #social-media-div {
    a {
      img {
        height: 6vh;
        width: 6vh;
      }
    }
  }
}
