<div id="footer-div" ng-controller='footerController as ctrl'>
  <div id="social-media-div">
    <a href="https://www.facebook.com/shakelia.johnson.9" target="_blank"><img src="/public/img/facebook-icon.png" /></a> <!--TODO change href to facebook profile url-->
    <a href="https://www.linkedin.com/in/shakelia-johnson-39177451/" target="_blank"><img src="/public/img/linkedin-icon.png" /></a> <!--TODO change href to linkedin profile url-->
    <a href="https://plus.google.com/u/0/+ShakeliaJohnson" target="_blank"><img src="/public/img/google-plus-icon.png" /></a> <!--TODO change href to google +  profile url-->
  </div>
  <p>&copy; 2017 by Shakelia Johnson</p>
</div>
